body {
  background:#111;
  color:white;
  font-family: sans-serif;
  text-align:center;
}

.center {
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100vh;
}

input, button, textarea {
  width:80%;
  margin:10px auto;
  padding:12px;
  border-radius:8px;
  border:none;
}

button {
  background:gold;
  font-weight:bold;
}

.menu a {
  display:block;
  margin:10px;
  color:gold;
  text-decoration:none;
}

.card {
  background:#222;
  padding:10px;
  margin:10px;
  border-radius:10px;
}

.wallet {
  background:#222;
  padding:15px;
  margin:15px;
  border-radius:10px;
  word-break:break-all;
}
